<div class='col-12'></div>

	<div class='text55'>
		<%= link_to(image_tag("githublink.png", class: "links-right"),  "https://github.com/chaseterzian") %>
		Chase Michael Terzian
    	<%= link_to(image_tag("linkedinlink.jpg", class: "links-right"), "https://www.linkedin.com/in/chaseterzian") %>
	</div>
    	<hr>
		<div class='text20 pad10'>2892 Shadow Creek Drive Unit 312 Boulder Colorado 80303</div>
		<div class='text20'>301-602-0428</div>
		<div class='text20'>ChaseTerzian@gmail.com</div>
</div>


<!-- <div class='col-12'> -->
	<!-- <div class='text30 pad60 center'>Projects</div> -->
<!-- </div> -->


<div class='col-2'>
</div>
<div class='col-10'>
	<div class='text30 pad80'>Projects</div>
</div>
<div class='col-33'>
</div>
<div class='col-8'>
	<li class='text16 pad10'>
	<a href='https://gearbox-rails.herokuapp.com/'>Gearbox</a>
  - Use your smartphone as a blackbox for any vehicle. Whats your driving style?
	</li>
	<li class='text16'>
	<a href='https://whiteboard-rails.herokuapp.com/'>Whiteboard</a>
	- See hear and work with your peers in this online project colaboration environment
	</li>
	<li class='text16'>
		<a href='https://the-projects-rails.herokuapp.com/'>The Projects</a>
		Team project planning and task creation application
	</li>

	<li class='text16 pad10'>
		<a id='github-link'>Github Repositories</a>
	</li>
	<li class='text16'>
		<a id='demo-videos-link'>Demo Videos</a>
	</li>
	<li class='text16' id='download-resume-link'>
		<a id='download-resume-link'>Download Resume</a>
	</li>
</div>

<div class='col-2'>
</div>
<div class='col-10'>
	<div class='text30 pad50'>Education</div>
	<strong><div class='text16 pad10'>Galvanize Full Stack Web Development (gSchool) – Boulder, Colorado ● 2015</div></strong>
</div>	
<div class='col-33'>
</div>
<div class='col-8'>
	<li class='text16 pad10'>Awarded “Most Improved Student” in class of 28</li>
	<li class='text16'>Program focused mainly on HTML, CSS, Ruby on Rails and Javascript, with an emphasis on real-world workflow</li>
</div>
	
<div class='col-2'>
</div>
<div class='col-10'>
	<strong><div class='text16 pad20'>Kaplan Real Estate Education – Denver, Colorado  ●  2014</div></strong>
</div>	
<div class='col-33'>
</div>
<div class='col-8'>
	<li class='text16 pad10'>Obtained an Associate Broker license</li>
</div>

<div class='col-2'>
</div>
<div class='col-10'>
	<strong><div class='text16 pad20'>University of Colorado – Boulder, CO  ●  2004 – 2007</div></strong>
</div>
<div class='col-33'>
</div>
<div class='col-8'>
	<li class='text16 pad10'>Formula SAE Race Team Suspension-Systems Advisor</li>
</div>

<div class='col-2'>
</div>
<div class='col-10'>
	<strong><div class='text16 pad20'>Georgetown Day High School - Washington, DC  ●  2000 - 2004</div></strong>
</div>
<div class='col-33'>
</div>
<div class='col-8'>
	<li class='text16 pad10'>Maximum AP credits in Computer Science</li>
</div>

<div class='col-2'>
</div>
<div class='col-10'>
	<div class='text30 pad50'>Experience</div>
	<strong><div class='text16 pad10'>Springdale Quartet LLC. – Boulder, CO  ●  2007 – Present</div></strong>
</div>	
<div class='col-33'>
</div>
<div class='col-8'>
	<li class='text16 pad10'>Co-Founder</li>
	<li class='text16'>Primary Songwriter</li>
	<li class='text16'>Keyboard/Organ Player</li>
	<li class='text16'>Albums:</li>
</div>

<div class='col-44'>
</div>
<div class='col-8'>
	<li class='text16'>
		<a href='https://itunes.apple.com/us/album/noisefactory/id451795304'>Noisefactory, CD/Digital – 2011</a>
	</li>
	<li class='text16'>
		<a href='https://itunes.apple.com/us/album/heist/id688568201'>Heist, CD/Digital/Vinyl – 2013</a>
	</li>
	<li class='text16'>
		<a href='http://www.springdalequartet.net/'>Decades, CD/Digital – Post Production</a>
	</li>
</div>

<div class='col-2'>
</div>
<div class='col-10'>
	<strong><div class='text16 pad20'>Boulder Property Group – Boulder, CO  ●   2013 – Present</div></strong>
</div>	
<div class='col-33'>
</div>
<div class='col-8'>
	<li class='text16 pad10'>General property management</li>
</div>

<div class='col-2'>
</div>
<div class='col-10'>
	<strong><div class='text16 pad20'>Jerry’s Systems Inc. – Gaithersburg, MD  ●  2004 – 2013</div></strong>
</div>	
<div class='col-33'>
</div>
<div class='col-8'>
	<li class='text16 pad10'>Cost Analysis</li>
</div>

<div class='col-2'>
</div>
<div class='col-10'>
	<div class='text30 pad50'>Skills</div>
</div>	
<div class='col-33'>
</div>
<div class='col-8'>
	<li class='text16 pad10'>HTML, CSS, Ruby on Rails, Javascript, jQuery</li>
	<li class='text16'>Full stack web development  - front end emphasis</li>
	<li class='text16'>Songwriting </li>
	<li class='text16'>Extensive audio and video editing skills</li>
</div>
	



<div class='col-12 pad60'>
