<div class='col-12'>
	<div class='text2'>Chase Michael Terzian</div>
	<div class='text3 header-padding'>2892 Shadow Creek Drive Unit 312 Boulder Colorado 80303</div>
	<div class='text3'>301-602-0428</div>
	<div class='text3'>ChaseTerzian@gmail.com</div>
</div>

<div class='col-12'>
</div>

<div class='col-2'>
</div>
<div class='col-9'>
	<div class='text4 education-padding'>Education</div>

	<div class='text5 header-padding'>Galvanize Full Stack Web Development (gSchool) – Boulder, Colorado ● 2015</div>
	<li class='text5 content-padding'>Awarded “Most Improved Student” in class of 28</li>
	<li class='text5'>Program focused mainly on HTML, CSS, Ruby on Rails and Javascript, with an emphasis on real-world workflow</li>
	<div class='text5 info-padding'>Kaplan Real Estate Education – Denver, Colorado  ●  2014</div>
	<li class='text5 content-padding'>Obtained an Associate Broker license</li>
	<div class='text5 info-padding'>University of Colorado – Boulder, CO  ●  2004 – 2007</div>
	<li class='text5 content-padding'>Formula SAE Race Team Suspension Systems Advisor</li>
	<div class='text5 info-padding'>Georgetown Day High School - Washington, DC  ●  2000 - 2004</div>
	<li class='text5 content-padding'>Maximum AP credits in Computer Science</li>

	<div class='text4 education-padding'>Experience</div>
	<div class='text5 header-padding'>Springdale Quartet LLC. – Boulder, CO  ●  2007 – Present</div>
	<li class='text5 content-padding'>Co-Founder</li>
	<li class='text5'>Chief Songwriter</li>
	<li class='text5'>Keyboard/Organ Player</li>
	<li class='text5'>Albums:</li>
</div>

<div class='col-12'>
</div>

<div class='col-33'>
</div>
<div class='col-8'>
	<li class='text5'>Noisefactory, CD/Digital – 2011</li>
	<li class='text5'>Heist, CD/Digital/Vinyl – 2013</li>
	<li class='text5'>Decades, CD/Digital – Post Production</li>
</div>

<div class='col-12'>
</div>

<div class='col-2'>
</div>
<div class='col-9'>
	<div class='text5 header-padding'>Boulder Property Group – Boulder, CO  ●   2013 – 2015</div>
	<li class='text5 content-padding'>General property management</li>
	<div class='text5 header-padding'>Jerry’s  System Inc. – Gaithersburg, MD  ●  2004 – 2013</div>
	<li class='text5 content-padding'>Food Cost Analysis / Data compilation</li>

	<div class='text4 education-padding'>Skills</div>
	<li class='text5 content-padding'>HTML, CSS, Ruby on Rails, Javascript, jQuery</li>
	<li class='text5'>Full stack web development  - front end emphasis</li>
	<li class='text5'>Extensive audio and video editing skill</li>
	<li class='text5'>Songwriting </li>

	<div class='text4 education-padding'>Projects</div>
	<li class='text5 content-padding'>
	<%= link_to "Whiteboard - An online project colaboration environment", "https://serene-meadow-5206.herokuapp.com/", class: "blk" %>
	</li>
	<li class='text5 content-padding'>
	<%= link_to "Gearbox - Turn your smartphone into a fun and accurate data interpreter for your vehicle", "https://github.com/chaseterzian/Gearbox", class: "blk" %>
	</li>
	<li class='text5 content-padding'>
		<%= link_to "The Projects - Team project planning and task creation application", "https://github.com/chaseterzian/Gearbox", class: "blk" %>
	</li>
</div>



<div class='col-12 education-padding'></div>

